.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  height: var(--header-bar-height);
}

.brand {
  display: flex;
  align-items: center;
}

.siderButton {
  margin-right: 1rem;
}

.title {
  font-weight: var(--font-bold);
}

.nav {
  display: flex;
  align-items: center;
}

.nav > * {
  margin-left: 2rem;
}
