.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.list {
  padding: 1rem;
}
