.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  height: var(--header-bar-height);
}

.brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.brand a {
  text-decoration: none;
  color: var(--font-color);
}

.backButton {
  margin-right: 24px;
}

.title {
  font-weight: var(--font-bold);
}

.nav {
  display: flex;
  align-items: center;
}

.nav > * {
  margin-left: 24px;
}
