.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: var(--infobar-bar-height);
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-size: 3rem;
  padding: 6px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions > * {
  margin-left: 2rem;
}
