.theme {
  /* colors */
  --color-accent: #1eaedb;
  --color-accent-dark: #0fa0ce;
  --color-text: #222;
  --color-text-light: #757575;
  --color-background: #fff;
  --color-border: #ccc;
  --color-error: #dc3545;

  /* colors input */
  --color-input-background: #fff;
  --color-input-border: var(--color-border);

  /* colors default button */
  --color-button: #222;
  --color-button-background: transparent;
  --color-button-border: #ccc;
  --color-button-hover: #222;
  --color-button-background-hover: transparent;
  --color-button-border-hover: #888;

  /* colors primary button */
  --color-button-primary: #fff;
  --color-button-primary-background: #1eaedb;
  --color-button-primary-border: #1eaedb;
  --color-button-primary-hover: #fff;
  --color-button-primary-background-hover: #0fa0ce;
  --color-button-primary-border-hover: #0fa0ce;

  /* colors code */
  --color-code: #222;
  --color-code-background: #f1f1f1;
  --color-code-border: #f1f1f1;

  /* font size */
  --font-size-normal: 1.5rem;
  --font-size-small: 1.3rem;
  --font-size-xsmall: 1.1rem;

  /* font weight */
  --font-regular: 400;
  --font-bold: 600;

  font-weight: var(--font-regular);
  color: var(--color-text);
  background-color: var(--color-background);
}

@media (max-width: 550px) {
  .theme {
    --font-size-normal: 1.6rem;
    --font-size-small: 1.4rem;
    --font-size-xsmall: 1.2rem;
  }
}
