.note {
  height: 100%;
  width: 100%;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.editor {
  padding: 1rem;
  height: calc(100% - 42px);
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.5rem;
}

.editor:focus {
  outline: none;
  border: none;
}
