.addNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.addNote > * {
  min-width: 200px;
  margin: 0.5rem;
}
