.main {
  display: flex;
  position: relative;
  height: calc(100% - var(--header-bar-height));
  overflow: hidden;
}

.fullscreen {
  height: 100%;
}

.sidebar {
  overflow-x: hidden;
  white-space: nowrap;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
}

.content {
  height: 100%;
  width: 100%;
}

@media (max-width: 550px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
}
