.layout {
  height: 100vh;
  overflow: hidden;

  --header-bar-height: 56px;
  --infobar-bar-height: 80px;
  --sidebar-width: 240px;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-bar-height));
  max-height: calc(100vh - var(--header-bar-height));
  overflow: hidden;
}

.sidebar {
  overflow-x: hidden;
  white-space: nowrap;
  min-width: var(--sidebar-width);
}

.content {
  height: 100%;
  width: 100%;
}

@media (max-width: 550px) {
  .sidebar {
    width: 100%;
  }
}
