.explorer {
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--infobar-bar-height);
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.actions > * {
  margin-left: 1rem;
}

.list {
  padding: 1rem;
}

.item {
  list-style: none;
  cursor: pointer;
}

.item.selected {
  font-weight: var(--font-bold);
}

.item > a {
  text-decoration: none;
  color: var(--font-color);
}
