.explorer {
  flex-grow: 1;
  overflow: hidden;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--infobar-bar-height);
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  padding-right: 1rem;
}

.root {
  padding-left: 1rem;
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions > * {
  margin-left: 1rem;
}

.list {
  padding: 1rem;
  overflow: scroll;
  height: calc(100% - var(--infobar-bar-height));
}

.item {
  list-style: none;
  cursor: pointer;
}

.item.selected {
  font-weight: var(--font-bold);
}

.item > a {
  text-decoration: none;
  color: var(--font-color);
}
