.note {
  height: 100%;
  width: 100%;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--infobar-bar-height);
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  padding: 0 1rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  margin: 0;
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  padding: 1rem;
}

.editor:focus {
  outline: none;
  border: none;
}

.preview {
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  padding: 1rem;
  overflow: scroll;
}
