.note {
  height: 100%;
  width: 100%;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--infobar-bar-height);
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  padding-right: 1rem;
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  align-items: center;
}

.actions > * {
  margin-left: 1rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  margin: 0;
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  border: 1px solid transparent;
  padding: 1rem;
}

.preview {
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  padding: 1rem;
  overflow: scroll;
}
