.note {
  height: 100%;
  width: 100%;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: calc(--infobar-bar-height);
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name > h1 {
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
}

.actions > * {
  margin-left: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  border: 1px solid transparent;
  margin: 0;
  padding: 2rem;
}

.preview {
  font-size: var(--font-size-normal);
  height: calc(100% - var(--infobar-bar-height));
  overflow: scroll;
  padding: 2rem;
}
