.settings {
  height: 100%;
  padding: 2rem;
}

.settings section {
  margin-bottom: 4rem;
}

.settings section > * {
  margin-bottom: 16px;
}

.settings input[type='text'] {
  width: 100%;
  margin-bottom: 0;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-regular);
  margin-top: 1rem;
}

.subtitle {
  font-weight: var(--font-bold);
  margin-top: 1rem;
  margin-bottom: 16px;
}

.account {
  display: flex;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account .name {
  font-size: 1.8rem;
}

.account .email {
  font-size: var(--font-size-small);
  color: var(--color-text-light);
}

.account > img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin-right: 16px;
}
